{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Product List</h1>
    <ul class="products">
    {% for product in products %}
        <li class="product">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            <h2 class="product-name">{{ product.name }}</h2>
            <span class="product-price">{{ product.price }} K</span>

        <a href="{% url 'ecommerce:product_detail' product.pk %}">{{ product.name }}</a>

        </li>
    {% endfor %}
    </ul>
</div>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
